:root {
  --bgnormal: #e0e0e0;
  --bgoperator: #f39148;
}

.double {
  grid-column: 1/3;
}

.btn {
  align-items: center;
  background-color: var(--bgnormal);
  box-sizing: border-box;
  color: black;
  display: flex;
  height: 66px;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
}

.btn-normal {
  background-color: var(--bgnormal);
  border: 1px solid #c2ccc5;
}

.btn-normal:hover {
  cursor: pointer;
  background-color: #d9d3d2;
}

.btn-orange {
  background-color: var(--bgoperator);
  border: 1px solid #f77f25;
}

.btn-orange:hover {
  cursor: pointer;
  background-color: #f7832d;
}
