.output {
  grid-column: 1 / -1;
  height: 75px;
  background-color: #858694;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current {
  color: white;
  font-size: 2.5rem;
}
